* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body {
    background: #f4f4f4;
}
    /* NAVBAR */
    nav {
        background-color: #222;
        color: white;
        padding: 15px 60px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul {
        display: flex;
        list-style: none;
    }
    nav ul li {
        margin-left: 25px;
    }
    nav ul li a {
        color:white;
        text-decoration:none;
    }
    /* HERO */
    .hero{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 80px;
        background: #555;
        color: white;
    }
    .hero img {
        width:280px;
        border-radius: 10px;
    }
.btn {
    padding: 12px 25px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
/*about */
.about,.skills,.resume {
    padding: 60px;
    margin: 60px;
    background: white;
    border-radius: 10px;
    }
.resume {
    padding: 60px;
    text-align: center;
}
.about-title{
    text-align: left;
    margin-left: 80px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}
.about-container{
    display: flex;
    align-items: center;
    gap:50px;
}
.about-img{
    width:280px;
    border-radius: 10px;
}
.about-text h2{
    font-size: 32px;
    margin-bottom: 15px;
}
.skills {
    background: white;
    padding: 60px;
    text-align: center;
}
.skills ul {
    list-style: none;
    padding: 0;
}
.skills li{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #222;
    color: white;
    border-radius: 5px;
}
.projects {
    padding: 60px;
    background: #f4f4f4;
    text-align: center;
}
.project-box {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border-radius: 8px;
}
.resume {
    padding: 60px;
    text-align: center;
}
.btn {
    background: #007bff;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}
.contact {
    padding: 60px;
    background: #222;
    color: white;
    text-align: center;
}
footer{
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}